[Unit]
Description=Jupyter notebook server
After=network.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jupyter
ExecStart=/usr/bin/jupyter-notebook --no-browser
ExecStop=/bin/kill $MAINPID
PIDFile=/var/run/jupyter.pid
User=jupyter
Group=jupyter
WorkingDirectory=/home/jupyter

[Install]
WantedBy=multi-user.target
